<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fz.mapper.RoleMapper">
    <resultMap id="rr" type="role">
        <id property="rid" column="rid"/>
        <result property="rname" column="rname"/>
    </resultMap>
    <resultMap id="r2" type="role">
        <id property="rid" column="rid"/>
        <result property="rname" column="rname"/>
        <association property="user" column="uid" select="com.fz.mapper.UserMapper.findById"></association>
    </resultMap>


    <!--  类名与实体类名字一致时候不用resultMap   -->
    <!-- <select id="findByUserId" parameterType="int" resultType="role">-->
    <!--  类名与实体类名字不一样   -->
    <!--<select id="findByUserId" parameterType="int" resultMap="rr">
        select * from db_role where uid = #{id}
    </select>-->

    <select id="findByUserId" parameterType="int" resultMap="r2">
        select * from db_role where uid = #{id}
    </select>

    <select id="findById" parameterType="int" resultMap="r2">
        select * from db_role where rid = #{id}
    </select>

</mapper>